<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripciones a Pruebas</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo"> {# Reemplaza 'images/logo.png' con la ruta a tu logo #}
        <nav>
            <ul>
                <li><a href="{% url 'portada' %}">Inicio</a></li>
                <li><a href="{% url 'Competicion' %}">Competiciones</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 style="color: blue;">Inscripciones a Pruebas</h1>
        {% block content %}
            
        {% endblock %}
    </main>

    <footer>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo"> {# Reemplaza 'images/logo.png' con la ruta a tu logo #}
        <nav>
            <ul>
                <li><a href="https://atletismocamposdecastilla.com/aviso-legal/">Aviso Legal</a></li>
                <li><a href="https://atletismocamposdecastilla.com/politica-de-privacidad/">Política de Privacidad</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>