<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripciones a Pruebas</title>
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo"> {# Reemplaza 'images/logo.png' con la ruta a tu logo #}
        <nav>
            <ul>
                <li><a href="{% url 'portada' %}">Inicio</a></li>
                <li><a href="{% url 'Competicion' %}">Competiciones</a></li>
                {% if cabecera_usuario %}
                    <span style="color: red;"> &nbsp; &nbsp; ** Bienvenido, {{ cabecera_usuario }} ** </span>
                    <li><a href="{% url 'logout' %}">Logout</a></li> {# Asumiendo que tienes una URL de logout #}
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                
            </ul>
        </nav>
    </header>

    <main>
        <h1 style="color: blue;">Inscripciones a Pruebas</h1>
        {% block content %}
            
        {% endblock %}
    </main>

    <footer>
        <img src="{% static 'images/logo.jpg' %}" alt="Logo" class="logo"> {# Reemplaza 'images/logo.png' con la ruta a tu logo #}
        <nav>
            <ul>
                <li><a href="{% url 'aviso' %}"target="_blank" >Aviso Legal</a></li>
                <li><a href="{% url 'cooki' %}" target="_blank">Política de cookies</a></li>
                <li><a href="{% url 'priva' %}" target="_blank">Política de privacidad</a></li>
                <li><a href="{% url 'condi' %}" target="_blank">Terminos y condiciones</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>